body {
    background-color: #4c4c4c;
}
.v-application {
    background-color: transparent !important;
}
.main-content {
    margin-top: 65px;
    padding: 20px;
    margin-left: 250px;
    height: calc(100vh - 65px - (2 * 20px));
    width: calc(100vw - 250px - (3 * 20px));
    color: #f8f9fa;
}